include /_mixins

doctype html
html(lang='en-us')
  head
    title= title
    +stylesheet_link_tag('main')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')

  body
    header
      a.logo(href='/')
        img(src='/images/logo.png' alt='logo')
      .cart
        a(href='/')
          span.left
            | Shopping Cart
          span.right
            span.count
              | 0
            |  items
    
    main
      #cart
      #content
        block content

    footer
    
    +javascript_include_tag('application')
    +javascript_include_tag('models/item')
    +javascript_include_tag('collections/items', 'collections/cart_items')
    +javascript_include_tag('views/index', 'views/item', 'views/items', 'views/item_details', 'views/cart', 'views/cart_item')
    +javascript_include_tag('router')
    script(type='text/javascript').
      App.init(!{JSON.stringify(menu)});

